.header {
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  &__logo {
    flex-shrink: 0;
    background-image: url("../images/Shape_8.svg");
    width: 50px;
    height: 50px;
    margin-left: 15%;
  }
  
  @media screen and (max-width: 1280px ) {
    &__logo {
      margin-left: 10px;
    }
  }
}
